@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}
